<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
    <insert id="insertStudent" parameterType="pojo.Student">
        INSERT INTO studentmanager.stu VALUES (#{sid},#{sname},#{gender},#{phone},
          #{birthday},#{bobby},#{info});
    </insert>

    <update id="updateStudentNameById" parameterType="map">
        UPDATE stu SET sname = #{userName} where sid = #{userId};
    </update>

    <update id="updateStudentById" parameterType="pojo.Student">
        UPDATE s_student SET name = #{name},clazzId = #{clazzId},sex=#{sex},
          mobile=#{mobile},qq=#{qq} WHERE id = #{id};
    </update>

    <delete id="deleteStudentById" parameterType="integer">
        DELETE from studentmanager.stu WHERE sid = #{sid};
    </delete>

    <select id="queryStudent" resultType="pojo.Student">
        SELECT * from studentmanager.stu;
    </select>

    <select id="queryStudentById" parameterType="integer" resultType="pojo.Student">
        SELECT * from studentmanager.stu WHERE sid = #{id};
    </select>

    <!--查询全部-->
    <select id="getAllStudentByPage" resultType="pojo.Student" parameterType="map">
        SELECT * from s_student limit #{pageSize} offset #{start} ;
    </select>

    <!--查询班级全部学生-->
    <select id="getStudentListByPage" resultType="pojo.Student" parameterType="map">
        SELECT * from s_student WHERE clazzId = #{clazzId} limit #{pageSize} offset #{start} ;
    </select>

    <!--对姓名模糊查询-->
    <select id="getStudentByName" resultType="pojo.Student" parameterType="map">
        SELECT * FROM s_student WHERE name LIKE '%${studentName}%' limit #{pageSize} offset #{start};
    </select>

    <!--在班级中对姓名模糊查询-->
    <select id="getStudentByNameInClass" resultType="pojo.Student" parameterType="map">
        SELECT * FROM s_student WHERE name LIKE '%${studentName}%' AND clazzId = #{clazzId}
         limit #{pageSize} offset #{start};
    </select>

    <!--查询学生数量-->
    <select id="queryTotalStudentNumber" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM s_student;
    </select>

    <!--查询对应班级下的学生数-->
    <select id="getStudentNumberByClazzId" resultType="java.lang.Integer" parameterType="integer">
        SELECT COUNT(*) FROM s_student where clazzId = #{clazzId};
    </select>
</mapper>
